<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Add</title>
</head>
<body>
    <h1>Account Add</h1>
    <form th:action="${'/account/save'}" method="post">
      <p>Username</p>
      <input type="text" name="username">
      <br>
      <br>

      <p>Password</p>
      <input type="text" name="password">
      <br>
      <br>

      <p>Fullname</p>
      <input type="text" name="fullName">
      <br>
      <br>

      <input type="submit" name="Submit">
    </form>
</body>
</html>